// Breakpoint
$mb: 0;
$tb: 768px;
$pc: 1024px;

//color
$main_color:var(--e-global-color-5e04356); //#AC1F24
$main_color_light:var( --e-global-color-79ecc9f ); //#E15559

$main01_color:var(--e-global-color-6f2087f); //#FB9194
$main02_color:var( --e-global-color-f6b3f5f ); //#6D0408
$main04_color:var( --e-global-color-79ecc9f ); //#E15559


$grey_01:var(--e-global-color-8316909); //#757575
$grey_02:var(--e-global-color-997d2d6); //#aaa
$grey_03:var(--e-global-color-8a7d752); //#E3E3E3
$grey_04:var(--e-global-color-e11080b); //#ECECEC
$grey_05:var(--e-global-color-56f6c88); //#F7F7F7