@import '../_mixin', '../_variables';

.info{
  table{border: none !important; margin: 0; box-shadow: none !important; background-color: transparent !important; border-radius: $radius;
    tbody{@include flex;
      tr{background-color: transparent; @include flex;
        td{font:{family: var(--e-global-typography-primary-font-family) !important; weight:700}; color: $main_color !important; padding: 0 !important; border: none !important; @include h3;}
        &:hover td{background-color: transparent;}
      }
    }
  }
  &_inquiry tr{
    &:nth-child(6)::after{content: "/"; color: $grey_02; margin: 0 1rem;}
    &:not(&:nth-child(6), &:nth-child(8)){display: none;}
  }
  &_fast tr{
    &:nth-child(2), &:nth-child(odd), &:last-child{display: none;}
    &:nth-child(4)::after{content: "/"; color: $grey_02; margin: 0 1rem;}
  }
}