.sub_01_sec_04 .elementor-image-box-img img {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 8px;
}

.sub_01_sec_05 #kboard-search-form {
  display: flex;
  gap: 0.625rem;
}
.sub_01_sec_05 #kboard-search-form .kboard-search {
  flex: 1;
}
.sub_01_sec_05 #kboard-search-form .kboard-search input {
  height: 5rem;
  background-color: transparent;
  color: #fff;
  border: 3px solid var(--e-global-color-79ecc9f);
  border-radius: 0.625rem;
  font-size: 1.25rem !important;
}
@media (max-width: 1023px) {
  .sub_01_sec_05 #kboard-search-form .kboard-search input {
    font-size: 1rem !important;
  }
}
.sub_01_sec_05 #kboard-search-form .kboard-search input::-moz-placeholder {
  color: #fff;
}
.sub_01_sec_05 #kboard-search-form .kboard-search input::placeholder {
  color: #fff;
}
.sub_01_sec_05 #kboard-search-form .kboard-default-button-small {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  background: var(--e-global-color-79ecc9f) !important;
  opacity: 1 !important;
  border: none;
  border-radius: 0.625rem;
}
.sub_01_sec_05 #kboard-search-form .kboard-default-button-small:focus {
  outline: none;
}
.sub_01_sec_05 #kboard-search-form .kboard-default-button-small img {
  width: 35px;
  filter: brightness(0) invert(1);
  display: block;
}
.sub_01_sec_05 .block {
  padding: 0 5px;
  height: 1.25rem;
  overflow: hidden;
  font-size: 12px;
  float: left;
}
.sub_01_sec_05 .block #ticker {
  float: left;
}
.sub_01_sec_05 .block #ticker li a {
  display: block;
  color: #fff;
  line-height: 1.25rem;
}
.sub_01_sec_05 .block #ticker li a span {
  color: var(--e-global-color-79ecc9f);
  margin-right: 0.625rem;
  font-weight: 700;
}

.sub_01_sec_06 #kboard-ocean-gallery-latest {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.125rem;
}
.sub_01_sec_06 #kboard-ocean-gallery-latest > a .kboard-ocean-gallery-latest-item {
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}
.sub_01_sec_06 #kboard-ocean-gallery-latest > a .kboard-ocean-gallery-latest-item .kboard-ocean-gallery-latest-thumbnail {
  width: 100%;
  height: 100%;
  border: none;
  float: none;
}
.sub_01_sec_06 #kboard-ocean-gallery-latest > a .kboard-ocean-gallery-latest-item .kboard-ocean-gallery-latest-thumbnail img {
  display: block;
}
.sub_01_sec_06 #kboard-ocean-gallery-latest > a .kboard-ocean-gallery-latest-item .kboard-ocean-gallery-latest-title {
  width: 100%;
  font-size: 1.25rem !important;
  text-align: left;
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  color: #000;
}
@media (max-width: 1023px) {
  .sub_01_sec_06 #kboard-ocean-gallery-latest > a .kboard-ocean-gallery-latest-item .kboard-ocean-gallery-latest-title {
    font-size: 1rem !important;
  }
}

.sub_01_sec_07 .tab_title .title {
  cursor: pointer;
}
.sub_01_sec_07 .tab_title .title.on .elementor-widget-container {
  background-color: var(--e-global-color-5e04356);
}
.sub_01_sec_07 .tab_title .title.on .elementor-widget-container .elementor-heading-title {
  color: #fff;
}
.sub_01_sec_07 .tab_cont {
  opacity: 0;
}
.sub_01_sec_07 .tab_cont.on {
  opacity: 1;
  z-index: 1;
}
.sub_01_sec_07 .tab_cont .elementor-icon-box-icon {
  margin-top: 0.5vw;
}

@keyframes map_opa {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 1024px) {
  .sub_01_sec_06 #kboard-ocean-gallery-latest > a:first-child {
    grid-column: 1/5;
  }
  .sub_01_sec_06 #kboard-ocean-gallery-latest > a:first-child .kboard-ocean-gallery-latest-item .kboard-ocean-gallery-latest-thumbnail img {
    height: 60vh !important;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top center;
       object-position: top center;
  }
  .sub_01_sec_06 #kboard-ocean-gallery-latest > a:first-child .kboard-ocean-gallery-latest-item .kboard-ocean-gallery-latest-title {
    font-size: 1.875rem !important;
    font-weight: 700;
  }
}
@media (min-width: 1024px) and (min-width: 768px) and (max-width: 1023px) {
  .sub_01_sec_06 #kboard-ocean-gallery-latest > a:first-child .kboard-ocean-gallery-latest-item .kboard-ocean-gallery-latest-title {
    font-size: 1.5rem !important;
  }
}
@media (min-width: 1024px) and (max-width: 767px) {
  .sub_01_sec_06 #kboard-ocean-gallery-latest > a:first-child .kboard-ocean-gallery-latest-item .kboard-ocean-gallery-latest-title {
    font-size: 1.25rem !important;
  }
}
@media (max-width: 1023px) {
  .sub_01_sec_05 #kboard-search-form .kboard-search input {
    height: 4rem;
    border-width: 2px;
  }
  .sub_01_sec_05 #kboard-search-form .kboard-default-button-small {
    width: 4rem;
    height: 4rem;
  }
  .sub_01_sec_05 #kboard-search-form .kboard-default-button-small img {
    width: 25px;
  }
  .sub_01_sec_06 #kboard-ocean-gallery-latest {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.25rem;
  }
  .sub_01_sec_06 #kboard-ocean-gallery-latest > a:last-child {
    display: none;
  }
}
@media (max-width: 767px) {
  .sub_01_sec_05 #kboard-search-form .kboard-search input {
    height: 3rem;
  }
  .sub_01_sec_05 #kboard-search-form .kboard-default-button-small {
    width: 3rem;
    height: 3rem;
  }
  .sub_01_sec_05 #kboard-search-form .kboard-default-button-small img {
    width: 20px;
  }
  .sub_01_sec_06 #kboard-ocean-gallery-latest {
    display: grid !important;
    grid-template-columns: repeat(1, 1fr);
  }
  .sub_01_sec_06 #kboard-ocean-gallery-latest > a:nth-child(4) {
    display: none;
  }
  .sub_01_sec_07 .tab_cont .wrap_map {
    height: 250px !important;
  }
}/*# sourceMappingURL=sub_01_lawyer.css.map */